@model IEnumerable<Core.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories Page</h1>
<br />
<div class="d-flex justify-content-between">
    <p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New Category</a>
    </p>
     <p>
    <a class="btn btn-outline-info" asp-controller="CategoryProps">View Category Props</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategotyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>                      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategotyName)
            </td>
           
            @if (item.ParentCategotyId == null)
                {
                    <td>
                        No parent
                    </td>
                }
                else
                {
                     <td>
                        @Html.DisplayFor(modelItem => item.ParentCategory.CategotyName)              
                     </td>
                }

            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit category</a> |
                @if (item.CategoryProp == null)
                {
                    <a asp-controller="CategoryProps" class="btn btn-info" asp-action="Create" asp-route-id="@item.Id">Add Prop</a>
                }
                @if (item.CategoryProp != null)
                {
                    <a asp-controller="CategoryProps" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CategoryProp.Id">Edit prop</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
